.content{
    margin-left: 8vw;
    width: 100%;
    height: 100%;
    padding-top: 3%;
}
.homeContent , .metarContent, .OFPContent, .ChartsContent, .VatsimContent, .CalculatorContent{
    margin-left: 5vw;
}