.MetarContent{
    color: white;
    font-size: 25px;
}

.FetchInput{

}
.FetchInput input{
    border: 1px solid rgb(97, 97, 97);
    padding: 5px;
    color: rgb(143, 143, 143);
    background-color: black;
}

.FetchBtn{
}

.FetchBtn a{
    padding: 10px;
    margin-left: 15px;
    color: rgb(83, 83, 83);
    background-color: black;
    border: 1px solid rgb(99, 99, 99);
    cursor: pointer;
    transition: all 0.3s ease;
}

.FetchBtn a:hover{
    padding: 10px;
    margin-left: 15px;
    color: white;
    background-color: #484848;
    transition: all 0.3s ease;
}


.Content-Placement{
    /* background-color: aqua; */
    width: 90%;
    height: 100px;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 100px;
    
}


