.MetarContent{
    color: white;
    font-size: 25px;
}

.FetchInput{

}
.FetchInput input{
    border: 1px solid #222222;
    padding: 5px;
    color: white;
    background-color: black;
}

.FetchBtn{
}

.FetchBtn a{
    padding: 10px;
    margin-left: 15px;
    color: rgb(128, 128, 128);
    background-color: black;
    border: 1px solid #222222;
    cursor: pointer;
    transition: all 0.3s ease;
}

.FetchBtn a:hover{
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(29, 29, 29);
    transition: all 0.3s ease;
}


.Content-Placement{
    /* background-color: aqua; */
    width: 90%;
    height: 100px;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 100px;
    
}


