.SideBarLink a {
<<<<<<< HEAD
    color: rgb(128, 128, 128);
=======
    color: rgb(121, 121, 121);
>>>>>>> testing
    text-decoration: none;
}
.SideBarLink{
    padding: 20%;
    width: 60%;
    height: 20px;
    border-radius: 15px;
}