.SideBarLink a {
    color: rgb(209, 209, 209);
    text-decoration: none;
}
.SideBarLink i {
    color: rgb(209, 209, 209);
    font-size: 15px;
}
.SideBarLink{
    /* padding: 30%; */
    padding-top: 25%;
    padding-bottom: 25%;
    width: 100%;
    height: 5%;
    margin-top: 50%;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
.SideBarLink div{
    width: 100%;
}
.SideBarLink svg{
    color: white;
    font-size: 1vw;
}
.SideBarLink div{
    text-align: center;
    float: left;
    display: inline;
}
.SideBarLink:hover{
    background-color: rgb(209, 209, 209,0.3);
    transition: all 0.3s ease;
}
.SideBarLinkA{
    font-size: 1vw;
    animation-duration: 0.3s;
    margin-left: 140%;
    margin-top: -1vw;
    display: none;
    backdrop-filter: contrast(100%) saturate(230%) blur(10px) brightness(110%);
}
