.App {
  text-align: center;
  overflow: hidden;
}
.App div{
  /* display: inline-block; */
  float: left;
}

.sidebar{
  padding-right: 1%;
  width: 4%;
  transition: all 0.3s ease;
}
.content{
  width: 80%;
}


#icaoCodeInput{
  width: 200px;
  height: 20px;
}


/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;

}
